.body {
	font-family: "Montserrat", sans-serif;
	max-width: 1920px;
}
.content-width {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}

.hader-color-text {
	color: white;
}
.header-wraper {
	background-image: url(../IMG/Sectionsbackground/header.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.header {
	background: rgba(94, 93, 88, 0.6);
	height: 120px;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 264px;
}

.container {
	display: flex;
}

.heder-container {
	width: 1160px;
	display: flex;
}

.img {
	width: 58px;
	height: 67px;
}

.logo {
	display: flex;
	align-items: center;
	padding: 26px 0px 27px 0px;
	text-decoration: none;
	font-size: 32px;
	height: 67px;
}

.logo-text {
	padding-left: 6px;
}

.highlighted-letters {
	color: #18cfab;
}
.logo-letters {
	font-weight: bold;
}
.logo-wrap {
	max-height: 120px;
	margin-right: 305px;
}
.menu-list {
	display: flex;
	flex-grow: 1;
	align-items: center;
}
.menu-item {
	padding-right: 21.09px;
}
.menu-link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}
.search-btn {
	margin-right: 380px;
	border: none;
	cursor: pointer;
	background-color: rgba(94, 93, 88, 0);
}
.line-for-hover {
	opacity: 0;
	position: relative;
	border-bottom: solid 2px #18cfab;
	width: 100%;
	top: 63px;
}

.logo-wrap:hover .logo {
	border-bottom: 2px solid rgba(24, 207, 171, 1);
	color: rgba(24, 207, 171, 1);
}
.logo-wrap:hover .hader-color-text {
	color: #18cfab;
}

.menu-link:hover {
	padding-bottom: 49px;
	border-bottom: 2px solid rgba(24, 207, 171, 1);
	width: 100px;
	color: rgba(24, 207, 171, 1);
}
.container-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.tagline {
	font-size: 78px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.title-text {
	font-size: 34px;
	color: rgba(212, 212, 212, 1);
	margin-bottom: 134px;
}
.button {
	margin-bottom: 243px;
}

.btn {
	cursor: pointer;
	width: 169px;
	height: 63px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 4px;
	margin: 13px;
	color: white;
	background-color: rgba(24, 207, 171, 1);
}
.btn-color-green {
	box-shadow: 0px -5px 0px 0px #ffffff;
}

.btn-color-blue {
	background-color: rgba(0, 203, 246, 1);
	box-shadow: 0px -5px 0px 0px #ffffff;
}
.desxription {
	display: flex;
}
.desxription-box {
	height: 377px;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 8px;
	justify-content: flex-end;
}
.dark-theme {
	background-color: rgba(28, 42, 51, 1);
	color: rgba(24, 207, 171, 1);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
.light-theme {
	background-color: rgba(24, 207, 171, 1);
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
.desxription-text {
	margin: 50px auto 110px;
}
.container-services {
	display: block;
}
.content-title {
	font-size: 36px;
	color: #4e4e4e;
	position: relative;
	padding-top: 83px;
	margin-bottom: 101px;
	text-align: center;
}

.content-title::after {
	content: "";
	height: 1px;
	width: 79px;
	background-color: rgba(24, 207, 171, 1);
	position: absolute;
	display: block;
	top: calc(100% + 24px);
	left: 50%;
	transform: translate(-50%);
	box-shadow: 13px 8px 0px 0px rgba(24, 207, 171, 1);
}

.content-menu-list {
	display: flex;
	justify-content: center;
	margin-bottom: 23px;
}
.content-menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(248, 252, 254, 1);
	color: rgba(113, 113, 113, 1);
	border: 1px solid rgba(242, 242, 242, 1);
	font-size: 16px;
	width: 195px;
	height: 76px;
	cursor: pointer;
}
.content-menu-item:hover {
	border: 1px solid rgba(24, 207, 171, 1);
}
.active-menu-item {
	position: relative;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(24, 207, 171, 1);
}

.active-menu-item::after {
	position: absolute;
	content: "";
	top: 100%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #18cfab;
}
.container-content-tabs {
	display: flex;
}

.tabs-description {
	display: flex;
	align-items: center;
	margin-bottom: 91px;
}
.tab-img {
	width: 192px;
	height: 139px;
	margin-right: 15px;
}
.tab-text {
	width: 952px;
	font-size: 13.64px;
	color: rgba(119, 119, 119, 1);
	line-height: 24.37px;
}
.hidden {
	display: none;
}
.container-buy {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(../IMG/Sectionsbackground/amazingWork.jpg);

	background-size: cover;
	background-position: center;
}
.buy-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title-buy {
	font-size: 40px;
	font-weight: bold;
	color: rgba(24, 207, 171, 1);
	text-transform: uppercase;
	margin: 126.78px 0 12.22px 0;
}
.description-buy {
	font-size: 16px;
	color: rgba(216, 216, 216, 1);
	margin-bottom: 67px;
}
.btn-buy {
	color: white;
	margin-bottom: 127px;
}
.work {
	background-color: rgba(233, 237, 239, 1);
	padding-bottom: 99px;
}
.work-content-menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(233, 237, 239, 1);
	color: rgba(113, 113, 113, 1);
	border: 1px solid rgba(218, 218, 218, 1);
	font-size: 14px;
	cursor: pointer;
	padding: 14px 15px 13px 15px;
	margin-bottom: 71px;
}

.work-content-menu-item:first-child {
	padding-left: 28px;
	padding-right: 28px;
}

.work-content-menu-item:hover {
	border: 1px solid rgba(24, 207, 171, 1);
	color: rgba(24, 207, 171, 1);
}
.active-work-menu-item {
	border: 1px solid rgba(24, 207, 171, 1);
	color: rgba(24, 207, 171, 1);
}
.img-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 70px;
}
.work-img {
	position: relative;
	width: 285px;
	border-bottom: 1px solid rgba(233, 237, 239, 1);
}
.container-work-btn {
	text-align: center;
}
.btn-load::before {
	position: relative;
	content: url(../IMG/icons/plus.png);
	right: 5px;
	top: 3px;
	margin-right: 15px;
}
.hover-block-img {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #e9edef;
	border-top: 6px solid rgba(24, 207, 171, 1);
	position: absolute;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.icons {
	display: flex;
	flex-direction: row;
	margin-top: 48px;
	justify-content: center;
}
.chain-svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.link {
	text-decoration: none;
}
.icon-link {
	width: 43px;
	height: 43px;
	border-radius: 50%;
	position: relative;
	margin: 0px 1.5px 0px 1.5px;
}
.link-square {
	border: 1px solid rgba(24, 207, 171, 1);
	border-radius: 50%;
}
.link-square::after {
	content: "";
	width: 12px;
	height: 12px;
	background-color: rgba(24, 207, 171, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.link-chain {
	border: 1px solid rgba(24, 207, 171, 1);
	border-radius: 50%;
}
.hover-block-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #18cfab;
	padding-top: 30px;
}
.link-square:hover {
	background-color: rgba(24, 207, 171, 1);
}

.link-chain:hover {
	background-color: rgba(24, 207, 171, 1);
}

.img-wrapper {
	position: relative;
}
.hover-block-description {
	font-size: 12px;
	color: #8a8a8a;
	padding: 25px 0 34px 0;
}
.breking-news {
	margin-bottom: 129px;
}
.breking-news-wraper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.news-item {
	text-decoration: none;
	position: relative;
}
.news-date {
	line-height: 200%;
	padding-top: 5px;
	text-align: center;
	position: absolute;
	width: 70px;
	height: 68px;
	background-color: #203e38;
	color: white;
	font-size: 16px;
	top: 0;
	right: 0;
}
.news-item:hover .news-date {
	background-color: rgba(24, 207, 171, 1);
}

.news-blog-post {
	text-align: center;
	color: #717171;
	font-weight: bold;
	font-size: 17.9885px;
	line-height: 39px;
}
.news-item:hover .news-blog-post {
	color: rgba(24, 207, 171, 1);
}
.news-commit {
	display: flex;
	justify-content: space-evenly;
	height: 40px;
	margin-bottom: 43.81px;
}
.news-commit-text {
	color: rgba(119, 119, 119, 1);
	font-size: 14px;
	position: relative;
}
.news-admin::after {
	content: "";
	width: 1px;
	height: 12px;
	background-color: rgba(119, 119, 119, 1);
	position: absolute;
	right: -50%;
}

.review-block {
	background: url(../IMG/sectionsbackground/AbouttheHam.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 12px;
}
.section-heading {
	font-weight: normal;
	font-size: 36px;
	line-height: 40px;
	color: #4e4e4e;
	position: relative;
	padding-top: 95px;
	margin-bottom: 101px;
	text-align: center;
}
.section-heading::after {
	content: "";
	height: 1px;
	width: 79px;
	background-color: rgba(24, 207, 171, 1);
	position: absolute;
	display: block;
	top: calc(100% + 24px);
	left: 50%;
	transform: translate(-50%);
	box-shadow: 13px 8px 0px 0px rgba(24, 207, 171, 1);
}
.slider-heading {
	color: #ffffff;
}
.slick-center {
	outline: none;
	transform: scale(1.2);
}

.quote-simbol {
	margin-bottom: 43px;
	margin-left: auto;
	margin-right: auto;
	width: 44px;
	height: 30px;
	background-repeat: no-repeat;
	display: block;
}

.pers-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: #bbbbbb;
}
.pers-quote {
	line-height: 30px;
	margin-bottom: 43px;
}
.pers-name {
	margin-bottom: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #18cfab;
}
.pers-photo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 75px;
	margin: 27px auto 57px auto;
	border-radius: 50%;
	background-color: rgba(31, 218, 181, 0.2);
	outline: none;
}

.pers-photo img {
	width: 142px;
	height: 142px;
	border-radius: 50%;
	border: 3px solid #18cfab;
}

.slick-arrow {
	width: 31px;
	height: 31px;
	border: 1px solid #bbbbbb;
	color: #bbbbbb;
	top: 65px;
}
.rev-slider-nav {
	display: flex;
	justify-content: center;
	max-width: 420px;
	position: relative;
	top: -30px;
	margin: auto;
}
.rev-slider-nav .pers-photo img {
	max-width: 58px;
	max-height: 58px;
}
.pers-status {
	margin-bottom: 38px;
}
.slick-arrow:hover {
	background-color: rgba(24, 207, 171, 1);
	border: none;
	color: #fff;
}
.btn-load-galery::before {
	position: relative;
	content: url(../IMG/icons/plus.png);
	right: 5px;
	top: 3px;
	margin-right: 15px;
}
.footer {
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	color: #aeaeae;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #22353f;
	height: 121px;
}
.color-green {
	line-height: 1px;
	color: rgba(24, 207, 171, 1);
	cursor: pointer;
	text-decoration: none;
}

.div {
	display: grid;
	grid-template-columns: repeat(9, 124px);
	grid-template-rows: repeat(11, 92px);
	column-gap: 5px;
	row-gap: 5px;
}
.div-add-img {
	display: grid;
	grid-template-columns: repeat(9, 124px);
	grid-template-rows: repeat(19, 92px);
	column-gap: 5px;
	row-gap: 5px;
}
.img-best {
	width: 100%;
	height: 100%;
}
.gridbox1 {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}
.gridbox2 {
	position: relative;
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 5;
}
.gridbox3 {
	position: relative;
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: 3;
}

.container-gridbox3 {
	position: relative;
	display: flex;
	width: 50%;
	height: 100%;
}

.gridbox4 {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 7;
}
.gridbox5 {
	position: relative;
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 5;
	grid-row-end: 8;
}
.gridbox7 {
	position: relative;
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 8;
	grid-row-end: 11;
}
.gridbox8 {
	position: relative;
	grid-column-start: 7;
	grid-column-end: 8;
	grid-row-start: 3;
	grid-row-end: 4;
}
.gridbox9 {
	position: relative;
	grid-column-start: 8;
	grid-column-end: 9;
	grid-row-start: 3;
	grid-row-end: 4;
}
.gridbox10 {
	position: relative;
	grid-column-start: 9;
	grid-column-end: 10;
	grid-row-start: 3;
	grid-row-end: 4;
}
.gridbox11 {
	position: relative;
	grid-column-start: 7;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 5;
}
.gridbox12 {
	position: relative;
	grid-column-start: 8;
	grid-column-end: 9;
	grid-row-start: 4;
	grid-row-end: 5;
}
.gridbox13 {
	position: relative;
	grid-column-start: 9;
	grid-column-end: 10;
	grid-row-start: 4;
	grid-row-end: 5;
}
.gridbox14 {
	position: relative;
	grid-column-start: 7;
	grid-column-end: 8;
	grid-row-start: 5;
	grid-row-end: 6;
}
.gridbox15 {
	position: relative;
	grid-column-start: 8;
	grid-column-end: 9;
	grid-row-start: 5;
	grid-row-end: 6;
}
.gridbox16 {
	position: relative;
	grid-column-start: 9;
	grid-column-end: 10;
	grid-row-start: 5;
	grid-row-end: 6;
}
.gridbox17 {
	position: relative;
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 6;
	grid-row-end: 10;
}
.gridbox6 {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 7;
	grid-row-end: 10;
}
.gridbox18 {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 10;
	grid-row-end: 13;
}

.gridbox19 {
	position: relative;
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 11;
	grid-row-end: 14;
}

.gridbox20 {
	position: relative;
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 10;
	grid-row-end: 13;
}
.gridbox21 {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 13;
	grid-row-end: 16;
}
.gridbox22 {
	position: relative;
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 13;
	grid-row-end: 16;
}
.gridbox23 {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 16;
	grid-row-end: 19;
}
.gridbox24 {
	position: relative;
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 14;
	grid-row-end: 17;
}
.gridbox25 {
	position: relative;
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 16;
	grid-row-end: 19;
}
.galery-hover-img {
	display: none;
}
.img-best-hover {
	display: none;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	transition: 0.3s;
}

.grid-hover:hover .img-best-hover {
	display: flex;
}

.hover-item {
	margin-left: 19px;
	margin-right: 20px;
	background: rgba(20, 185, 213, 1);
	text-align: center;
	padding: 8px 10px 10px 10px;
}
